<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xl-6 topmargin">
            <div class="card maxHeight">
                <div class="card-header text-center"><h3>$('.friends .fun .bikerdays')</h3></div>
                <div class="card-block text-center education">
                    <p class="card-text fa fa-graduation-cap"> Bachelor's Degree, Computer Science
                    <br><small class="text-muted">Anna University, Chennai, India</small></p>
                    
                    <p class="card-text fa fa-institution"> High School
                    <br><small class="text-muted">SPIC Nagar Higher Secondary School, Thoothukudi, India</small></p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-xl-6 topmargin">
            <div class="card">
                <div class="card-header"><h3>$('.family .money .bills')</h3></div>
                <div class="card-block">
                    <p><span class="fa fa-cog fa-spin"></span> UI Developer, <strong>Delta Air Lines </strong><small class="text-muted fa fa-map-marker"> Atlanta, GA</small></p>
                    <p><span class="fa fa-check"></span> UI Developer, <strong>The Nielsen Company </strong><small class="text-muted fa fa-map-marker"> Chicago, IL</small></p>
                    <p><span class="fa fa-check"></span> Java Developer, <strong>The Nielsen Company </strong><small class="text-muted fa fa-map-marker"> Chennai, India</small></p>
                    <p><span class="fa fa-check"></span> Java Developer, <strong>The Home Depot </strong><small class="text-muted fa fa-map-marker"> Chennai, India</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card topmargin">
        <div class="card-header"><h3>It is not what I code underneath, but how it executes that defines me - Robin</h3></div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-12 col-xl-12 topmargin">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                AngularJS 4
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> NodeJS</li>
                            <li class="fa fa-asterisk"> ExpressUI</li>
                            <li class="fa fa-asterisk"> Typescript</li>
                            <li class="fa fa-asterisk"> Gulp</li>
                            <li class="fa fa-asterisk"> Karma</li>
                            <li class="fa fa-asterisk"> Bootstrap4</li>
                            <li class="fa fa-asterisk"> Fontawesome</li>
                        </ul>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                jQuery HTML/JS/CSS
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> Grunt</li>
                            <li class="fa fa-asterisk"> Karma</li>
                            <li class="fa fa-asterisk"> Jasmine</li>
                            <li class="fa fa-asterisk"> jsbeautifier</li>
                            <li class="fa fa-asterisk"> sass</li>
                            <li class="fa fa-asterisk"> jshint</li>  
                            <li class="fa fa-asterisk"> jsonlint</li>  
                        </ul>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                ExtJS
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> 3.x</li>
                            <li class="fa fa-asterisk"> 4.x</li>
                            <li class="fa fa-asterisk"> Sencha Touch</li>
                            <li class="fa fa-asterisk"> 5.x</li>
                        </ul>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                Java J2EE
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> Collections</li>
                            <li class="fa fa-asterisk"> Spring Framework</li>
                            <li class="fa fa-asterisk"> REST Services</li>
                            <li class="fa fa-asterisk"> Struts</li>
                            <li class="fa fa-asterisk"> jUnits</li>
                        </ul>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                MySQL
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> Basics</li>
                            <li class="fa fa-asterisk"> Joins</li>
                            <li class="fa fa-asterisk"> Like/Wildcards</li>
                        </ul>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                English
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> What I speak when I'm demo-ing stuff</li>
                        </ul>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 70%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                Tamil
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li class="fa fa-asterisk"> What I speak when I've found a bug in my code</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card topmargin">
        <div class="card-header"><h3>Stuff I've worked on..</h3></div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="row">
                        <h4>Build Scripts</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/grunt.png"></div>
                                <div class="col-8 iconText">Grunt</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/gulp.png"></div>
                                <div class="col-8 iconText">Gulp</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/gradle.png"></div>
                                <div class="col-8 iconText">Gradle</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerGutter"></div> 
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="row">
                        <h4>Version Control</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/gitlab.png"></div>
                                <div class="col-8 iconText">GitLab</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/github.png"></div>
                                <div class="col-8 iconText">GitHub</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/subversion.png"></div>
                                <div class="col-8 iconText">Subversion</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/clearcase.png"></div>
                                <div class="col-8 iconText">Clearcase</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerGutter"></div> 
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="row">
                        <h4>IDE</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/vscode.png"></div>
                                <div class="col-8 iconText">VS Code</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/eclipse.png"></div>
                                <div class="col-8 iconText">Eclipse</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/rad.png"></div>
                                <div class="col-8 iconText">RAD</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerGutter"></div> 
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="row">
                        <h4>Project Tools</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/jira.png"></div>
                                <div class="col-8 iconText">JIRA</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/confluence.png"></div>
                                <div class="col-8 iconText">Confluence</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/hpqc.png"></div>
                                <div class="col-8 iconText">HP QC</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-lg-3 col-xl-3 zeroSidePadding">
                            <div class="row">
                                <div class="col-4 text-center"><img class="icon" src="../../assets/images/sharepoint.png"></div>
                                <div class="col-8 iconText">Sharepoint</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerGutter"></div> 
                </div>
            </div>
        </div>
    </div>
    <div class="card topmargin">
        <div class="card-header"><h3>$('.pay-raise .promotion .my-success-stories')</h3></div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="row">
                        <h4>Build Engineering - CICD</h4>
                    </div>
                    <h6 class="jenkins">Jenkins</h6>
                    <ul>
                        <li class=""> Building Jenkins, setting up basic plugins, security matrix</li>
                        <li class=""> Setting up Multibranch Pipelines, parameterized jobs</li>
                        <li class=""> Setting up JenkinsFile with Build stages</li>
                        <li class=""> Setting up HTML Publisher for use with Test Result Analyzer, Karma Code Coverage and other report publishing tools</li>
                        <li class=""> Integrating Slack Notifications into JenkinsFile Pipeline scripts</li>
                        <li class=""> Setting up unit tests using karma/jasmine</li>
                        <li class=""> Setting up AX tests using axe-webdriver plugins</li>
                        <li class=""> Setting up Performance tests using sitespeed.io</li>
                        <li class=""> Setting up Availability tests using custom coded scripts and Jenkins HTML Publisher plugin</li>
                        <li class=""> Setting up Security & Vulnerability tests using OWASP ZAP</li>
                    </ul>
                    <div class="containerGutter"></div> 
                </div>
            </div>
        </div>
    </div>
</div>