<div class="container">
    <div class="row">
        <div class="col">
            <div class="card maxHeight">
                <div class="card-header text-center"><h4>Education</h4></div>
                <div class="card-block text-center">
                    <p class="card-text fa fa-graduation-cap"> Bachelor's Degree, Computer Science
                    <br><small class="text-muted">Anna University, Chennai, India</small></p>
                    
                    <p class="card-text fa fa-institution"> High School
                    <br><small class="text-muted">SPIC Nagar Higher Secondary School, Thoothukudi, India</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4>Experience</h4></div>
                <div class="card-block">
                    <p><span class="fa fa-cog fa-spin"></span> Lead UI Developer, <strong>Delta Air Lines </strong><small class="text-muted">Atlanta, GA</small></p>
                    <p><span class="fa fa-check"></span> UI Developer, <strong>The Nielsen Company </strong><small class="text-muted">Chicago, IL</small></p>
                    <p><span class="fa fa-check"></span> UI Developer, <strong>The Nielsen Company </strong><small class="text-muted">Chennai, India</small></p>
                    <p><span class="fa fa-check"></span> Java Developer, <strong>The Home Depot </strong><small class="text-muted">Chennai, India</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="containerGutter"></div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header"><h4>Skills</h4></div>
                <div class="card-block">
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                    <p><span class="fa fa-cog fa-spin"></span>Angular</p>
                </div>
            </div>
        </div>
    </div>
</div>