<div class="container">
    <div class="row">
        <div class="col">
            <div class="card maxHeight">
                <div class="card-header text-center"><h4>Education</h4></div>
                <div class="card-block text-center education">
                    <p class="card-text fa fa-graduation-cap"> Bachelor's Degree, Computer Science
                    <br><small class="text-muted">Anna University, Chennai, India</small></p>
                    
                    <p class="card-text fa fa-institution"> High School
                    <br><small class="text-muted">SPIC Nagar Higher Secondary School, Thoothukudi, India</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4>Experience</h4></div>
                <div class="card-block">
                    <p><span class="fa fa-cog fa-spin"></span> Lead UI Developer, <strong>Delta Air Lines </strong><small class="text-muted fa fa-map-marker"> Atlanta, GA</small></p>
                    <p><span class="fa fa-check"></span> UI Developer, <strong>The Nielsen Company </strong><small class="text-muted fa fa-map-marker"> Chicago, IL</small></p>
                    <p><span class="fa fa-check"></span> UI Developer, <strong>The Nielsen Company </strong><small class="text-muted fa fa-map-marker"> Chennai, India</small></p>
                    <p><span class="fa fa-check"></span> Java Developer, <strong>The Home Depot </strong><small class="text-muted fa fa-map-marker"> Chennai, India</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="containerGutter"></div>
    <div class="card">
        <div class="card-header"><h4>Skills</h4></div>
        <div class="card-block">
            <div class="row">
                <div class="col">
                    <h4>Coding</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                AngularJS 4
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="fa fa-asterisk"> NodeJS</span>
                        <span class="fa fa-asterisk"> Gulp</span>
                        <span class="fa fa-asterisk"> Karma</span>
                        <span class="fa fa-asterisk"> Jasmine</span>
                        <span class="fa fa-asterisk"> Express UI Server</span>
                        <span class="fa fa-asterisk"> Typescript</span>
                        <span class="fa fa-asterisk"> Fontawesome</span>  
                    </div>
                    <div class="containerGutter"></div> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                jQuery HTML/JS/CSS
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="fa fa-asterisk"> Grunt</span>
                        <span class="fa fa-asterisk"> Karma</span>
                        <span class="fa fa-asterisk"> Jasmine</span>
                        <span class="fa fa-asterisk"> jsbeautifier</span>
                        <span class="fa fa-asterisk"> sass</span>
                        <span class="fa fa-asterisk"> jshint</span>  
                        <span class="fa fa-asterisk"> jsonlint</span>  
                    </div>
                    <div class="containerGutter"></div> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                ExtJS
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="fa fa-asterisk"> 3.x</span>
                        <span class="fa fa-asterisk"> 4.x</span>
                        <span class="fa fa-asterisk"> Sencha Touch</span>
                        <span class="fa fa-asterisk"> 5.x</span>
                    </div>
                    <div class="containerGutter"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                Java J2EE
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="fa fa-asterisk"> Struts</span>
                        <span class="fa fa-asterisk"> Collections</span>
                        <span class="fa fa-asterisk"> Spring Framework</span>
                        <span class="fa fa-asterisk"> REST Services</span>
                    </div>
                    <div class="containerGutter"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-black" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                MySQL
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="fa fa-asterisk"> Basics</span>
                        <span class="fa fa-asterisk"> Joins</span>
                        <span class="fa fa-asterisk"> Like/Wildcards</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>