<nav class="navbar fixed-top navbar-toggleable-md navbar-light">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Robinson Manonmani</a>
	<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
		<a class="nav-item nav-link" href="#">Skills</a>
		<a class="nav-item nav-link" href="#">Experience</a>
		<a class="nav-item nav-link" href="#">Contact</a>
	  </div>
	</div>
</nav>