.staticbg{
    background-image: url('/assets/images/background.jpg');
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: center;
    background-position-y: -50px;
    background-attachment: fixed;
    height: 500px;
    color:  #fff;
    justify-content: center;
}
.tagline{
    padding-top: 250px;
    padding-left: 20px;
}